body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin:0;
    font-family: Arial, sans-serif;
}

.game-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-board{
    display:grid;
    grid-template-columns: repeat(4,100px);
    grid-gap :10px;
}

.card{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border:2px solid #333;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.5s;
}

.card.flipped{
    transform: rotateY(180deg);
}

.card.match .front{
    border-color: green;
    box-shadow: 0 0 10px green;
    cursor: default;
    /* affiche le curseur normal du système (souvent une flèche). */
    background-color: lightgreen;
}

.card .front,
.card .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    /* contrôle si la face arrière d’un élément est visible ou non quand il est retourné. */
    border-radius: 10px;
}

.card .front{
    background-size: cover;
    background-position: center;
}

.back {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotateY(180deg);
}
/* .game-container h1 {
    color: #333;
    margin-bottom: 20px;
} */

.level-info {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
}